@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
img {
  max-width: 100%;
  height: auto; }

.featured-image {
  background-size: cover;
  background-position: center center;
  min-height: 300px; }
